:root {
  --primaryBackground: white;
  --primaryBorder: darkgrey;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url(andrew-solok--9zPjrqCoSE-unsplash.jpg);
  background-size: cover;
  background-position-y: center;
  color: #333;
}

header {
  margin: 2rem 0;
}

header h1 {
  font-family: "Oi", cursive;
  color: rgb(0, 0);
  letter-spacing: 1px;
  font-size: 46px;
}

.playlistContainer {
  background: var(--primaryBackground);
  width: 90%;
  max-width: 420px;
  padding: 2rem;
  border-radius: 28px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.724);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

form input {
  background: #f9f7ff;
  border-radius: 14px;
  border: 1px solid var(--primaryBorder);
  padding: 0.75rem;
}

form input:focus {
  outline: none;
  border: 2px solid var(--primaryBorder);
}

.playlist {
  background: var(--primaryBackground);
  padding: 1.2rem;
  border-radius: 22px;
  margin-bottom: 1rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

#playlistBtn {
  margin-top: 0.5rem;
  padding: 0.8rem;
  border-radius: 16px;
  border: none;
  background: linear-gradient(135deg, #5e5c94, #b4b2f8);
  color: var(--primaryBackground);
  font-weight: bold;
  cursor: pointer;
}

.playlist h3 {
  color: black;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

.playlist p {
  font-size: 0.9rem;
}
