:root {
  --primaryBackground: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* start from top instead of centering */
  padding: 2rem 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url("../assets/background-img.jpg");
  background-size: cover;
  background-position-y: center;
  color: #333;
}

header {
  margin: 2rem 0;
}

header h1 {
  font-family: "Oi", cursive;
  color: rgb(0, 0);
  letter-spacing: 1px;
  font-size: 46px;
}

#playlistContainer {
  display: none;
  background: linear-gradient(135deg, #edecfd, #b4b2f8);
  max-width: auto;
  padding: 2rem;
  border-radius: 16px;
  margin-top: 20px;
}

.genreButtons {
  margin-bottom: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.controls button,
.controls select {
  margin: 5px;
}

.songListForm {
  margin-top: 20px;
  line-height: 25px;
  border-radius: 16px;
  max-width: 500px;
}

button {
  margin: 0 5px 0 5px;
  padding: 1rem;
  border-radius: 16px;
  border: none;
  background: linear-gradient(135deg, #edecfd, #b4b2f8);
  color: rgba(0, 0, 0, 0.814);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: var(--primaryBackground);
}
